* {
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}
.header{
    background: white;
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat:no-repeat;
    background-position:bottom right, left;
}

/*header and navigation style*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

r .nav-title {
    font-weight: normal;
    font-size: 1000px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 20px;
    font-size: 20px
}

.text-primary {
    color: darkorange;
}

.btn-primary {
    color: white;
    font-size: 10px;
    font-weight: 700px;
    border: 0px;
    padding: 5px  15px 20px;
    background-color: darkorange;
    height: 18px;
    border-radius: 5px;
}
/* banner styles */
.banner{
    display: flex;
    margin: 0px 200px;
    align-items: center;
}
.banner-title{
    font-weight: 700px;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: black;
    font-weight:18px ;
    margin-bottom: 30px;
    
}
/* main section */
main{
   max-width:1140px;
   margin: 0 auto; 
}


section{
    margin: 130px;
}
/* about me styles */
.about{
    background-color: bisque;
    border-radius: 10px;
    padding: 400px 400px;
    
}
    
.section-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
   margin-bottom: 80px;
    

}
.section-description{

    color: dimgrey;
    font-size:15px ;
    margin-bottom:30px ;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}
.about.info-title{
    font-size: 20px;
    color:gray;
}
.about.info-description{
    font-weight:700px ;
    font-size:20px ;
    color: #474747;
    margin-bottom:700px;
    
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background-color:#ffff ;
    border-radius: 5px;
    box-shadow: 0px 6px 50px; 
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill-title{
    font-weight: 700px;
    font-size:20px ;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/* resume content */

.resume-content{
    display: flex;
    gap: 24px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume.title{
    font-weight: 700px;
    font-size: 25px;
    color: #474747;
    margin-top: 20px;


}
.resume.sub-title{
    color: #757575;
    font-weight: 600px;
    font-size: 20px;
    margin-top: 20px;

}
.resume.description{
   color: #757575;   
}
.resume-button{
    margin-top:50px ;
    text-align: center;
    
    
}
 /* contract style */
.contract.section-title{
    text-align: left;

}
.contract.section-description{

}
 .contract{
    display: flex;
    gap: 100px;
    background-color:#FFFF8F;
    padding:130px 100px;
    
} 
 .contract input[type=text], input[type=email] ,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
 }  
 input{
    height: 64px;
 }
